:root {
  --primary-colour: #2d604c;
  --secondary-colour: #e1ebdc;
  --tertiary-colour: #a9d1bb;
}
body {
  background: radial-gradient(
      ellipse at top,
      var(--tertiary-colour),
      transparent
    ),
    radial-gradient(ellipse at bottom, var(--secondary-colour), transparent);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
}
.selfie {
  border-radius: 50%;
  width: 200px;
  filter: drop-shadow(10px 10px 4px #2d604c);
  border: 1px solid var(--secondary-colour);
}
.cv-btn {
  background-color: transparent;
  border: 1px solid var(--primary-colour);
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  transition: 0.5s;
  font-size: 12px;
}
button:hover {
  background-color: #2d604c;
  color: var(--secondary-colour);
}
.main-font {
  font-family: "Brasika Display - Trial", sans-serif;
}
.secondary-font {
  font-family: "TT Norms", sans-serif;
}
.main-colour {
  color: var(--primary-colour);
}
.secondary-colour {
  color: var(--secondary-colour);
}
.tertiary-colour {
  color: var(--tertiary-colour);
}

.home-welcome {
  background: radial-gradient(#a9d1bb, #e1ebdc);
  background-attachment: fixed;
  text-align: center;
  padding: 200px 20px;
}

.bio {
  margin-top: 50px;
  margin-bottom: 50px;
}
.project-overview {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pro-el {
  height: 281px;
  max-width: 300px;
  scroll-snap-align: start;
  margin: 50px;
  border-radius: 5px;
  border: 1px solid var(--secondary-colour);
}
.pro-el:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.scroller {
  margin: auto;
  width: 700px;
}
.project-element {
  background: var(--tertiary-colour);

  border-radius: 5px;
}
.project-container {
  display: flex;
  gap: 40px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
